@* TODO: Re-enable authentication display once GitHub token validation is implemented (Option B) *@
@* Authentication temporarily disabled for development (Option A) *@
<div class="login-display">
    <span class="text-light small">Development Mode</span>
</div>


