{
  "Api": {
    "BaseAddress": "http://localhost:5251"
  },
  "Sentry": {
    "Dsn": "YOUR_SENTRY_DSN_HERE",
    "Enabled": true
  },
  "Authentication": {
    "GitHub": {
      "Authority": "https://github.com/login/oauth/authorize",
      "ClientId": "YOUR_GITHUB_CLIENT_ID",
      "ResponseType": "code",
      "Scopes": [
        "read:user"
      ]
    }
  }
}

